@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
}

label{
	font-size: 1.1em;
}
.we_100 {
  font-weight: 100;
}
.we_300 {
	font-weight: 300;
}
.we_400 {
	font-weight: 400;
}
.we_700 {
	font-weight: 700;
}
.we_900 {
  font-weight: 900;
}
.italic {
  font-style: italic;
}


/* COLORS */

.orange{
	color: #FFA500;
}
.orange_bg{
	background-color: #FFA500;
}

.orange_light{
	color: #FFFBDA;
}
.orange_light_bg{
	background-color:#FFFBDA;
}



.bridge{
	/*background: radial-gradient(circle at 10% 20%, rgba(255, 200, 124, .1) 0%, rgba(252, 251, 121, .1) 90%)*/;
	border-radius: 10px;
	box-shadow: 1px 4px 4px 1px rgba(0,0,0,0.2);
	padding: 1em ;
	max-width: 20em;
	margin: 3em auto;

}

.variant_bg{
	background-color: #f7fbfd;
	/*background: radial-gradient(circle at 10% 20%, rgba(255, 200, 124, .2) 0%, rgba(252, 251, 121, .2) 90%); */
	border: 1px #f1f5f7 solid;
	border-radius: 8px;
	padding: .5em .8em .8em .8em;
}


.change_icon{
	margin: .5em auto;
}