@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
	font-family: "Lato", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
}

label{
	font-size: 1.1em;
}
.we_100 {
  font-weight: 100;
}
.we_300 {
	font-weight: 300;
}
.we_400 {
	font-weight: 400;
}
.we_700 {
	font-weight: 700;
}
.we_900 {
  font-weight: 900;
}
.italic {
  font-style: italic;
}

footer{
	background-color: #333;
	color: #fff;
}


/* COLORS */

.orange{
	color: #FFA500;
}
.orange_bg{
	background-color: #FFA500;
}

.orange_light{
	color: #FFFBDA;
}
.orange_light_bg{
	background-color:#FFFBDA;
}



.bridge{
	border-radius: 10px;
	border: 1px #f1f5f7 solid;
	box-shadow: 1px 4px 4px 1px rgba(0,0,0,0.2);
	padding: 1em ;
	max-width: 20em;
	margin: 3em auto;

}

.variant_bg{
	background-color: #fbfbfb;
	border: 1px #f1f5f7 solid;
	border-radius: 8px;
	padding: .5em .8em .8em .8em;
}


.change_icon{
	margin: .5em auto;
}



.btn_swap{
	background: rgb(255, 216, 194);
	/*border: 1px #f1f5f7 solid;*/
	border-radius: 8px;
	box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.1);
	min-width: 7em;
	margin: 1em auto .5em auto!important;
	padding: .3em .8em;
}



/*  MODAL WINDOW  */

.modal_full{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(111, 86, 65, 0.5)!important;
}

.modal_container{
	border-radius: 10px;
	margin: 10%;
	height: 60%;
	background: rgb(255, 238, 229);
}

#w {
	display: none;
}

#w.block {
	display: block; 
}


.close {
  color: #333333;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 60px;
  font-weight: 100;
  transition: 0.3s;
  z-index: 2;
}

.hide {
	display: none;
}

.block {
	display: block;  
}